# MINDORA Environment Configuration Example

# Server Port (Auto-assigned on Render / Railway / Cloud)
PORT=3000

# MongoDB Connection String:
# For OFFLINE Local LAN use:
# MONGODB_URI=mongodb://127.0.0.1:27017/mindora

# For ONLINE Cloud (MongoDB Atlas Free 512MB Cluster):
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/mindora?retryWrites=true&w=majority

# JWT Secret Key for authentication tokens
JWT_SECRET=mindora_secret_jwt_key_exhibition_2026

# Node Environment ('development' or 'production')
NODE_ENV=production
